* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: var(--font-family);
  font-weight: 400;

  transition: background-color 0.2s ease;
}

input,
textarea,
button {
  font-family: var(--font-family);
}

button {
  font-weight: 600;
}

:root {
  --primary-900: #020B1D;
  --primary-500: #052051;
  --primary-400: #072B61;
  --primary-300: #0A3871;
  --primary-200: #356EA9;
  --primary-100: #609ED4;
  --primary-10: #84b6e2;

  --light-primary-600: #1A2945;
  --light-primary-500: #757FB2;
  --light-primary-400: #AAB2D5;
  --light-primary-300: #E9ECF8;
  --light-primary-200: #EFF1FA;
  --light-primary-100: #F3F5FC;

  --gray-500: #343A40;
  --gray-400: #495057;
  --gray-200: #ADB5BD;

  --white: #FFF;
  --black: #000;

  --box-shadow: rgba(0, 0, 0, 0.08);

  --font-family: 'Inter', sans-serif;
}

:root.light {
  /* Light theme */

  --light-background-10: var(--white);
  --light-background-100: var(--light-primary-100);
  --light-background-hover: var(--light-primary-200);
  --primary-background-300: var(--primary-300);
  --primary-background-hover: var(--primary-400);

  --input-placeholder: var(--primary-200);

  --text-info: var(--gray-400);
  --text-light: var(--white);
  --text-button: var(--white);
  --text-bold: var(--gray-500);
  --text: var(--gray-400);
}

:root.dark {
  --light-background-10: var(--light-primary-600);
  --light-background-100: var(--primary-900);
  --light-background-hover: var(--primary-500);

  --primary-background-300: var(--primary-100);
  --primary-background-hover: var(--primary-10);

  --text-info: var(--gray-200);
  --text-button: var(--primary-900);
  --text-light: var(--primary-100);
  --text-bold: var(--white);
  --text: var(--white);
}

:root.dark [data-theme="light"] {
  display: none;
}

:root.light [data-theme="dark"] {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--light-background-100);
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  gap: 5rem;
}

.container_logo {
  padding: 2.5rem;
}

.container_logo_logo {
  height: 3rem;

}

.container_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4.5rem 0;
}

.container_content_textarea {
  flex: 1;
  background: transparent;
  border: 0;
  outline: 0;
  margin-top: 5rem;
  font-size: 2rem;
  color: var(--primary-background-300);
  resize: none;
}

.container_content_textarea::placeholder {
  color: var(--input-placeholder);
}

.container_content_information {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-info);
  font-size: 1rem;
}

.container_content_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container_content_buttons_separator {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.container_content_buttons_button,
.container_messages_data_button {
  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--primary-background-300);
  color: var(--text-button);
  font-size: 1rem;

  transition: all 0.2s ease;
}

.container_content_buttons_button:hover,
.container_messages_data_button:hover {
  cursor: pointer;
  background-color: var(--primary-background-hover);
}

.container_content_buttons_button[data-variant="outlined"],
.container_messages_data_button[data-variant="outlined"],
.container_content_buttons_button[data-variant="icon"],
.container_messages_data_button[data-variant="icon"] {
  background-color: transparent;
  color: var(--primary-background-300);
  border: 1px solid var(--primary-background-300);
}

.container_content_buttons_button[data-variant="outlined"]:hover,
.container_messages_data_button[data-variant="outlined"]:hover,
.container_messages_data_button[data-variant="icon"]:hover,
.container_content_buttons_button[data-variant="icon"]:hover {
  background-color: var(--light-background-hover);
}

.container_content_buttons_button[data-variant="icon"] {
  padding: .8125rem .875rem;
  width: fit-content;
}

.container_messages {
  width: 25rem;

  border-radius: 2rem;

  background-color: var(--light-background-10);
  box-shadow: 0px 24px 32px -8px var(--box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2.5rem;
}

.container_messages_informations {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container_messages_informations[data-visible] {
  display: flex;
}

.container_messages_informations>img {
  width: 100%;
  height: auto;
}

.container_messages_informations>strong {
  color: var(--text-bold);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.container_messages_informations>span {
  color: var(--text);
  font-size: 1rem;
  text-align: center;
}

.container_messages_data {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.container_messages_data[data-visible] {
  display: flex;
  gap: 1rem;
}

.container_messages_data_text {
  display: flex;
  width: auto;
  height: 100%;
  word-wrap: break-word;
  font-size: 1.5rem;
  color: var(--text);
}

.container_messages_data_button {
  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--primary-background-300);
  color: var(--text-button);
  font-size: 1rem;

  transition: all 0.2s ease;
}

@media screen and (max-width: 1100px) {
  .container {
    gap: 2rem;
  }

  .container_logo_logo {
    height: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .container_content {
    padding: 0 2.5rem;
    height: 30rem;
    flex: none;
  }

  .container_content_textarea {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .container_messages_data_text {
    font-size: 1.5rem;
  }

  .container_messages {
    width: auto;
    max-width: 100%;
  }

  .container_messages_informations>img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container {
    gap: 1rem;
  }
  .container_content_buttons {
    flex-direction: column;
  }
}